.card {
  background-color: #3b3e68;
  width: 95%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-box {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.title {
  width: 90%;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: left;
}
