.heading-products {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  text-align: left;
}

.card-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.button-red {
  background-color: red;
  padding: 10px;
  width: auto;
  height: 40px;
  border-radius: 5px;
  border: #ca171e 2px solid;
  color: #ca171e;
  cursor: pointer;
  background: none;
}
