.App {
  text-align: center;
  min-width: 100vh;
  height: auto;
  overflow: hidden;
}

@font-face {
  font-family: "HkBold";
  src: url("./fonts/hk-grotesk/HKGrotesk-Black.otf");
}

@font-face {
  font-family: "HkBoldlegacy";
  src: url("./fonts/hk-grotesk/HKGrotesk-Medium.otf");
}

h1,
h2,
h3 {
  font-family: "HkBold", sans-serif;
}

h1 {
  font-size: 104px !important;
}

h2 {
  font-size: 64px;
  font-family: "HkBoldlegacy";
  font-weight: normal;
}

h3 {
  font-size: 40px;
}

.subtitle {
  font-size: 24px;
}

.body-large {
  font-size: 20px;
}

.body-reguler {
  font-size: 16px;
}

.body-small {
  font-size: 14px;
}

.black {
  color: #101010;
}

.red {
  color: #ca171e;
}

.base {
  color: #ffffff;
}

.bold {
  font-weight: bold;
}
