.App {
  text-align: center;
  min-width: 100vh;
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
}

@font-face {
  font-family: "HkBold";
  src: url("./fonts/hk-grotesk/HKGrotesk-Black.otf");
}

@font-face {
  font-family: "HkBoldlegacy";
  src: url("./fonts/hk-grotesk/HKGrotesk-Medium.otf");
}

h1,
h2,
h3 {
  font-family: "HkBold", sans-serif;
}

h1 {
  font-size: 104px !important;
}

h2 {
  font-size: 64px;
  font-family: "HkBoldlegacy";
  font-weight: normal;
}

h3 {
  font-size: 40px;
}

.subtitle {
  font-size: 24px;
}

.body-large {
  font-size: 20px;
}

.body-regular {
  font-size: 16px;
}

.body-small {
  font-size: 14px;
}

.black {
  color: #101010;
}

.red {
  color: #ca171e;
}

.base {
  color: #ffffff;
}

.bold {
  font-weight: bold;
}
.bolder {
  font-weight: bolder;
  font-family: "HkBold", sans-serif;
}

.left {
  text-align: left;
}

.button-red {
  padding: 10px;
  width: auto;
  height: 40px;
  border-radius: 5px;
  border: #ca171e 2px solid;
  color: #ca171e;
  cursor: pointer;
  background: none;
}

@media only screen and (max-width: 600px) {
  .App {
    text-align: center;
    min-width: 100%;
    height: auto !important;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  h1,
  h2,
  h3 {
    font-family: "HkBold", sans-serif;
  }

  h1 {
    font-size: 40px !important;
  }

  h2 {
    font-size: 34px;
    font-family: "HkBoldlegacy";
    font-weight: normal;
  }

  h3 {
    font-size: 22px;
  }

  .subtitle {
    font-size: 18px;
  }

  .body-large {
    font-size: 16px;
  }

  .body-regular {
    font-size: 14px;
  }

  .body-small {
    font-size: 12px;
  }
}
